*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    margin-top: 82px;
}

.navbar{
    background-color: #000000;
}
.navbar .nav-link{
    color: #fff;
    
}
.navbar button i{
    color: #fff;
    font-size: 20px;
}
.navbar .nav-link:hover{
    color: red;
    transition: 1s;
  
}
.banner{
    background-image: url(../images/banner.png) ;
    background-repeat: no-repeat;
    background-position: center center ;
    background-size: cover;
    min-height: 550px;
    width: 100%;
    
    
}
.run-over{
    margin-top: 150px;
}
.run-over h1{
    font-size: 65px;
}
.btn-custom{
   background: black;
   color: #fff;
   padding: 10px 20px;
   margin-right: 30px;
 

}
.btn-custom:hover{
    border: 2px solid #fff;
  
}
.snow i{
    font-size: 40px;
    
}
.bannertwo{
    background: url(../images/bannertwo.png) no-repeat center;
    background-size: cover;
    min-height: 600px;
}

footer{
    background-color: black;
    margin-top: 60px;
}
footer h4{
    color: #fff;
}
footer ul li{
    margin-top: 10px;
    color: #fff;
  
   
}
footer i{
    color: #fff;
    font-size: 30px;
}
footer i:hover{
    transform: rotate(360deg);
    transition: 1s;
}
#scrollUp {
    bottom: 20px;
    right: 20px;
    background: url(../images/top.png);
    height: 38px;
    width: 38px;